* {
  margin: 0px;
  box-sizing: border-box;
}

.parent {
  margin: auto;
  background-color: blueviolet;
  width: 44.3%;
  /* height: 600px; */
  display: grid;
  /* grid-template-columns: 200px 250px 200px 200px; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: 150px; */
  /* grid-template-rows: 100px 200px 150px; */
  /* grid-template-rows: 200px 100px; */
  /* grid-auto-columns: 100px; */
  /* grid-auto-rows: 150px; */
  /* grid-column-gap: 20px; */
  /* grid-row-gap: 30px; */
  /* grid-template-areas: "header header header" "section section"; */
  /* justify-content: ; Svojstvo se odnosi na horizontalno poravnjanje */
  /* align-content: ; Svojstvo se odnosi na vertikalno poravnjanje */
  /* justify-items: ; svojstvo se odnosi na horizontalno poravnjanje unutar child elementa */
  /* align-items: ; svojstvo se odnosi na vertikalno poravnjanje unutar child elementa */
  grid-template-columns: repeat(3, 150px);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
  grid-auto-rows: 150px;
  align-content: center;
  justify-content: space-around;
  align-content: space-between;
  justify-items: center;    
}

.box1 {
  background-color: antiquewhite;
  /* grid-area: header; */
  grid-column-start: 1;
  grid-column-end: 3;
}
.box2 {
  background-color: aqua;
  /* grid-area: section; */
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.box3 {
  background-color: rgba(127, 255, 212, 0.4);
  grid-area: none;
}
.box4 {
  background-color: rgb(80, 97, 92);
}
.box5 {
  background-color: rgb(111, 112, 112);
  /* grid-column-start: 1; */
  /* grid-column-end: 4; */
  grid-column: span 2;
}
