* {
  margin: 0px;
  box-sizing: border-box;
}
header > h1 {
  background-color: rgb(212, 255, 0);
  text-align: center;
  color: black;
}
.container {
  border: 0.5rem solid rgb(86, 215, 86);
height: 50vh;
  display: flex;
  justify-content: space-around;
  /* justify-content: space-around; */
  /* flex-direction: column; */
  align-items:center;
  background-color: rgb(203, 203, 86);
}

  .second{
    background-color: rgb(211, 208, 59);
    width:230px;
    height: 80%;
    border:0.5rem solid black;
   
  }
 .second > h1{
     text-align: center;
     color:black;
    }
    .second > p{
     text-align: center;

 }













































































































































































































































































































































}
