* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
.container {
  width: 100%;
  height: 80%;
  background-color: rgb(113, 113, 165);
  border: 1px solid black;
  float: left;
  font-size: 20px;
}
.container p {
  /* font-size: 2em; */
  font-size: 2rem;
}

/* .container:nth-of-type(2)  */
/* .container:nth-of-type(4) { */
/* background-color: blueviolet; */
/* } */

/* parne stilove */
/* .container:nth-of-type(even) { */
/* background-color: brown; */
/* } */
/* neparne stilove */
/* .container:nth-of-type(odd) { */
/* background-color: brown; */
/* } */
/* za svaki 3. element */
/* .container:nth-of-type(3n) { */
/* background-color: brown; */
/* } */
.container:nth-last-of-type(1) {
  background-color: brown;
}
/* Apsolutne velicine */
/* cm-centimetri */
/* mm-milimetri */
/* in-inches(1in=96px) */
/* pt-points(1pt=1/72in) */
/* pc-picas(1pc=12pt) */

/* Relativne velicine */
/* em-relativna u odnosu na font-size elementa */
/* rem-relativna u odnosu na font-size root elementa */
/* Vw-relativna je 1% u odnosu na sirinu naseg ekrana */
/* Vh-relativna je 1% u odnosu na visinu naseg ekrana */
/* vmin-relativna je 1% u odnosu na manju dimenziju */
/* vmax-relativna je 1% u odnosu na vecu dimenziju */
/* %-relativan u odnosu na parent elemnt */

.second {
  background-color: bisque;
  width: 80%;
  height: 50%;
}
